body {
  padding: 10px;
}

img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 5px;
  padding-top: 15px;
}

.data-country {
  font-size: smaller;
}

.country-container {
  display: flex;
}

.country {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add {
  border-radius: 50%;
  background-color: darkgreen;
  color: white;
  font-weight: bold;
}

.country-list {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px;
}

